MountContent
{
	
}

MountContent > .body
{
	flex-grow: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
}

.spawnicon
{
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.folder
{
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	cursor: pointer;
	font-family: Poppins;
	white-space: nowrap;
	overflow: hidden;

	i
	{
		color: #e6db74;
		font-size: 40px;
	}
}