@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@namespace Sandbox


<root onclick="@Action" style="background-image: url( @Icon )">

    @if ( Package is not null )
    {
        <div class="title">@Package.Title</div>
    }

</root>

@code
{
    public string Icon { get; set; } = "https://cdn.sbox.game/asset/facepunch.oildrumexplosive/thumb.png.fff8e3787c17283";
    public Action Action { get; set; }
    public Package Package { get; set; }

    protected override void OnMouseDown( Sandbox.UI.MousePanelEvent e)
    {
        if (e.MouseButton == MouseButtons.Right)
        {
            if ( Package is not null )
            {
                var menu = new Popup(this, Popup.PositionMode.UnderMouse, 10.0f);
                menu.AddChild(new PackageInformationPopup() { Package = Package });
                PlaySound("sounds/ui/popup.open.sound");
            }

            return;
        }

        base.OnMouseDown(e);
    }
}
