SpawnButton
{
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	flex-direction: column;
	cursor: pointer;
	padding: 8px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	justify-content: flex-end;
}

SpawnButton > .icon
{

	flex-grow: 1;
	border-radius: 10px;
}

SpawnButton > .title
{
	white-space: nowrap;
	flex-shrink: 0;
	overflow: hidden;
	align-items: center;
	justify-content: center;

	font-family: Poppins;
	font-size: 10px;
	font-weight: 550;
	text-shadow: 1px 1px 2px #000a;

	color: white;
}

SpawnButton > .title > .label
{
	background-color: #333d;
	padding: 2px 5px;
	border-radius: 3px;
}