Scoreboard
{
	position: absolute;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	font-family: Poppins;
	font-size: 22px;
	font-weight: 700;
	opacity: 0;
	width: 100%;
	height: 100%;
	padding-top: 100px;
	pointer-events: none;

	&.visible
	{
		opacity: 1.0;
		pointer-events: all;
	}

	.header
	{
		width: 700px;
		height: 100px;
		justify-content: center;
		align-items: center;

		.title
		{
			font-size: 32px;
			font-weight: 800;
			color: rgb(230, 230, 230);
			text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.78);
		}
	}

	.scores
	{
		width: 700px;
		flex-direction: column;
		gap: 2px;
		max-height: calc(100% - 200px);
		overflow: visible;
	}

	.player_row
	{
		flex-direction: row;
		align-items: center;
		height: 38px;
		padding: 3px;
		margin: 0px 2px 2px 2px;
		background-color: rgb(230, 230, 230);
		border-radius: 4px;
		overflow: visible;

		&.dead
		{
			background-color: rgb(230, 200, 200);
		}

		&.admin
		{
			background-color: rgb(230, 255, 230);
		}

		&.connecting
		{
			background-color: rgb(200, 200, 200);
		}
	}

	.avatar_button
	{
		width: 32px;
		height: 32px;
		cursor: pointer;
	}

	.avatar
	{
		width: 32px;
		height: 32px;
	}

	.name
	{
		flex-grow: 1;
		color: rgb(93, 93, 93);
		margin-left: 8px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.stat
	{
		width: 50px;
		color: rgb(93, 93, 93);
		text-align: center;
		justify-content: center;
	}

	.mute
	{
		width: 32px;
		height: 32px;
		font-family: Material Icons;
		font-size: 24px;
		color: rgb(93, 93, 93);
		justify-content: center;
		align-items: center;
		cursor: pointer;
		position: relative;
		overflow: visible;

		> *
		{
			pointer-events: none;
		}

		&:hover
		{
			color: rgb(50, 50, 50);

			.volume_popup
			{
				opacity: 1;
			}
		}

		&.disabled
		{
			opacity: 0.3;
			cursor: default;
			pointer-events: none;
		}

		.volume_popup
		{
			position: absolute;
			left: 40px;
			top: 0px;
			height: 32px;
			width: 70px;
			padding: 0px 8px;
			background-color: #222;
			border-radius: 4px;
			flex-direction: row;
			align-items: center;
			gap: 4px;
			pointer-events: none;
			opacity: 0;

			.wheel_icon
			{
				width: 20px;
				height: 20px;
			}

			.volume_text
			{
				font-family: Roboto;
				font-size: 14px;
				font-weight: 400;
				color: white;
				white-space: nowrap;
				flex-grow: 1;
				text-align: center;
				justify-content: center;
			}
		}
	}

	.muted
	{
		color: rgb(180, 50, 50);

		&:hover
		{
			color: rgb(200, 70, 70);

			.volume_popup
			{
				opacity: 1;
			}
		}
	}
}