Scoreboard
{
	position: absolute;
	justify-content: center;
	align-items: center;
	font-family: Poppins;
	font-size: 18px;
	color: #fff;
	opacity: 0;
	transform: scale( 0.8 );
	transition: all 0.1s ease-in;
	margin: auto;
	width: 100%;
	height: 100%;
	margin: auto;
	gap: 16px;

	.voting
	{
		width: 20%;
	}

	.title
	{
		width: 100%;
		height: 48px;
		background-color: rgba( black, 0.25 );
		justify-content: space-between;
		align-items: center;
		flex-direction: row;
		padding: 0px 16px;

		label
		{
			font-weight: 600;
			opacity: 0.5;
		}

		> .small
		{
			font-size: 16px;
		}
	}

	.avatar
	{
		margin-left: 4px;
		width: 24px;
		border-radius: 10px;
		height: 24px;
		box-shadow: 1px 1px 10px rgba( black, 0.5 );
	}

	.table
	{
		overflow: hidden;
		flex-direction: column;
		width: 600px;
		background-color: #0c202faa;
		color: #cdf;
		border-radius: 2px;
		min-height: 600px;
		min-width: 800px;
		backdrop-filter: blur( 3px );
		box-shadow: 1px 1px 10px rgba( black, 0.5 );
		border-radius: 10px;

		.center label
		{
			flex-grow: 1;
			text-align: center;
		}

		.col
		{
			flex-direction: column;
			padding: 8px;
			gap: 4px;
		}

		.row
		{
			width: 100%;
			white-space: nowrap;
			align-items: center;
			cursor: pointer;
			border-radius: 8px;
			padding: 4px 8px;
			gap: 8px;

			> .name
			{
				flex-grow: 1;
			}

			> .stat
			{
				width: 100px;
				justify-content: flex-end;
				text-transform: lowercase;
			}
		}

		.header
		{
			align-items: flex-end;
			justify-content: flex-end;

			> .stat
			{
				font-size: 16px;
				font-weight: 600;
				opacity: 0.2;
			}
		}

		.player
		{
			background-color: #1a34483e;
			height: 40px;

			&:nth-child( even )
			{
				background-color: #2447603e;
			}
		}

		.me
		{
			color: #fff;
			cursor: default;
		}
	}

	&.visible
	{
		opacity: 1.0;
		transform: scale( 1 );
		transition: all 0.1s ease-out;
	}
}