SpawnMenuModeBar
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	gap: 1rem;
	background-image: linear-gradient( to bottom, rgba( black, 0.5 ), rgba( black, 0.0 ) );
}

.groupbutton
{
	background-color: #0008;
	border-radius: 20px;
	overflow: hidden;
}

.modebutton
{
	border: none;
	color: #fffa;
	font-family: Poppins;
	font-size: 1rem;
	font-weight: 600;
	padding: 1rem;
	cursor: pointer;
	pointer-events: all;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;

	.icon
	{
		font-size: 1.5rem;
	}

	.title
	{
		font-size: 1.2rem;
		font-weight: bold;
	}

	&:hover
	{
		color: #fff;
	}

	&.active
	{
		background-color: #08f;
		color: white;
	}
}