@import "/UI/Theme.scss";

Voices
{
    position: absolute;
    right: 128px;
    bottom: 256px;
    gap: 6px;
    flex-direction: column;
    align-items: flex-end;

    .item-row
    {
        gap: 10px;
        align-items: center;
        padding: 8px 14px 8px 12px;
        justify-content: flex-end;
        background-color: $hud-element-bg;
        border-radius: $hud-radius-sm;
    }

    img
    {
        width: $hud-icon-size;
        height: $hud-icon-size;
        border-radius: 100px;
        flex-shrink: 0;
    }

    label
    {
        font-family: $title-font;
        color: $hud-text;
        font-size: 15px;
        font-weight: 600;
        text-shadow: 0px 0px 8px $color-accent;
    }
}
