@using Sandbox;
@using Sandbox.UI;
@namespace Sandbox
@inherits Panel

<root>

	<div class="canvas" @ref=_canvas></div>

    @if (_selected.Any())
	{
		<div class="window" @onmousedown="@WindowPress">
            <GameObjectInspector Target=@_selected></GameObjectInspector>
		</div>
	}

</root>

@code
{
    public GameObject Hovered => hovered;

    Panel _canvas = default;

    protected override int BuildHash() => HashCode.Combine(hovered, _selected.Count);

    public override void Tick()
    {
        UpdateHighlights();
        UpdateCursor();
    }

    protected override void OnVisibilityChanged()
    {
        UpdateHighlights();
    }

    void UpdateHighlights()
    {
        var host = Ancestors.OfType<ContextMenuHost>().FirstOrDefault();
        if (host is null) return;

        if (host.SelectedOutline is null || host.HoveredOutline is null)
            return;

        host.SelectedOutline.Targets ??= new();
        host.SelectedOutline.Targets.Clear();
        host.SelectedOutline.Color = new Color(4.7f, 10.1f, 30.6f, 1);
        host.SelectedOutline.ObscuredColor = new Color(2.2f, 2.3f, 2.9f, 0.1f);
        host.SelectedOutline.Width = 0.2f;

        host.HoveredOutline.Targets ??= new();
        host.HoveredOutline.Targets.Clear();
        host.HoveredOutline.Color = new Color(2.6f, 2.0f, 0.2f, 1);
        host.HoveredOutline.ObscuredColor = new Color(2.6f, 2.0f, 0.2f, 0.1f);
        host.HoveredOutline.Width = 0.2f;

        if (!IsVisible)
            return;

        host.SelectedOutline.Targets.AddRange(_selected.SelectMany( x => x.GetComponentsInChildren<Renderer>() ) ?? []);

        if ( !_selected.Contains( hovered  ) )
        {
            host.HoveredOutline.Targets = hovered?.GetComponentsInChildren<Renderer>().ToList();
        }
        else
        {
            host.HoveredOutline.Targets = default;
        }
    }

    GameObject hovered;
    MultiSerializedObject _serialized;

    List<GameObject> _selected = new();

    void UpdateCursor()
    {
        var cursorPos = Mouse.Position;
        var screenRay = Scene.Camera.ScreenPixelToRay( cursorPos );
        var tr = Scene.Trace.Ray(screenRay, 4096 )
                            .IgnoreGameObjectHierarchy( Player.FindLocalPlayer()?.GameObject )
                            .Run();

        //  Scene.DebugOverlay.Sphere(new Sphere(tr.EndPosition, 1), Color.Yellow );

        if (!_canvas.HasHovered) tr.GameObject = default;

        var go = tr.GameObject;
        if (!CanSelect(go)) go = null;

        UpdateHovered(go);


    }

    bool CanSelect( GameObject o )
    {
        if (o == null) return false;
        if (o.Tags.Has("world")) return false;
        if (o.NetworkMode == NetworkMode.Never) return false;

        o = o?.Network?.RootGameObject;

        return true;
    }

    void UpdateHovered( GameObject o )
    {
        o = o?.Network?.RootGameObject;

        if (hovered == o) return;

        hovered = o;
        PlaySound("ui.button.over");
    }


    public void WorldMouseDown(MousePanelEvent e)
    {
        SelectObject(hovered);
    }

    public void WorldMouseUp(MousePanelEvent e)
    {
        // nothing.
    }

    public void SelectObject( GameObject o )
    {
        if ( !o.IsValid() )
        {
            _selected.Clear();
        }
        else
        {
            if (!Input.Down("run"))
                _selected.Clear();

            _selected.Remove(o);
            _selected.Add(o);
        }

        //_selected.RemoveAll(x => !x.IsValid() );
        _selected = _selected.Distinct().ToList();
    }


	void WindowPress( PanelEvent panelEvent )
	{
		panelEvent.StopPropagation();
	}
}
