@using Sandbox;
@using Sandbox.UI;
@inherits UtilityPage
@namespace Sandbox
@attribute [Icon( "🧹" )]
@attribute [Title( "Cleanup" )]
@attribute [Order( 0 )]
@attribute [UtilityOf( typeof(CleanupFunction) )]

<root class="page" style="flex-direction: column;">
    <div class="control-row" @onclick=@(() =>CleanUpMine() )>
        <label class="left">🧼 Clean Up Mine</label>
    </div>

    @if ( Connection.Local.IsHost )
    {
        <div class="control-row" @onclick=@(() =>CleanUpAll() )>
            <label class="left">🧹 Clean Up All</label>
        </div>
    }
</root>

@code
{
    void CleanUpMine() => CleanupFunction.CleanUpMine();
    void CleanUpAll() => CleanupFunction.CleanUpAll();
}
