ToolsList
{
	flex-grow: 1;
}

ToolsList > .left
{
	flex-grow: 0;
	flex-shrink: 0;
	flex-direction: column;
	width: 180px;
	padding: 0.5rem;

	.list
	{
		flex-direction: column;
		background-color: #2225;
		padding: 0.5rem;
		border-radius: 6px;
		height: 100%;
	}
}

ToolsList > .body
{
	flex-direction: column;
	flex-grow: 1;
	padding: 8px;
	margin: 8px;
	margin-left: 0;
}


ToolsList
{
	ControlSheet .body
	{
		padding: 0;
		margin: 0;
	}

	ControlSheet .controlgroup
	{
		padding: 0;

		> .body
		{
			padding: 0;
		}
	}

	ControlSheetGroup
	{
		> .body
		{
			padding: 0;
			margin: 0;
		}
	}

	controlsheetrow
	{
		width: 100%;
		background-color: #53698111;
		padding: 8px;
		max-height: auto;

		&:hover
		{
			background-color: #53698122;
			
			> .left 
			{
				color: #fff;
			}
		}

		> .left
		{
			width: 150px;
			overflow: hidden;
		}

		> .right, > .left
		{
			flex-shrink: 0;
		}
	}
}