@using Sandbox.UI
@using Sandbox.Razor

@namespace SandboxClassic.UI

@inherits Panel

<root class="form-group">
    <div class="form-label">@Label</div>
    <div class="form-control">@Control</div>
</root>

@code
{
    [Parameter] public RenderFragment Label { get; set; }
    [Parameter] public RenderFragment Control { get; set; }
}
