FreeCamOverlay
{
	width: 100%;
	height: 100%;
	font-family: Poppins;
	font-weight: 600;
	color: #fff;
	opacity: 0;

	&.active
	{
		pointer-events: all;
		opacity: 1;
	}
}


.left-panel
{
	position: absolute;
	top: 10%;
	bottom: 10%;
	left: 100px;
	width: 600px;
	background-color: #111e;
	backdrop-filter: blur( 10px );
	padding: 2rem;
	border-radius: 8px;
	flex-direction: column;
}

h1
{
	margin-top: 1rem;
	font-size: 2rem;
	color: #08f;
}

.row
{
	flex-direction: row;
	font-size: 1.25rem;
	padding: 0.25rem 0;

	h2
	{
		width: 200px;
		overflow: hidden;
		white-space: nowrap;
		align-items: center;
		opacity: 0.2;
	}
}