@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Mounting;
@inherits Panel
@namespace Sandbox

<SpawnMenuContent>

    <Body>
		
        <VirtualGrid Items=@Items ItemSize=@(200) OnLastCell="@(() => { _ = QueryNext(); })">
            <Item Context="context">

				@if (context is Storage.QueryItem item)
                {
					<WorkshopIcon Item="@item" @onclick=@( () => _ = Duplicator.FromWorkshop( item ) )></WorkshopIcon>
                }

            </Item>
        </VirtualGrid>
    </Body>

</SpawnMenuContent>

@code
{
    public Storage.SortOrder SortOrder { get; set; } = Storage.SortOrder.RankedByVote;
    public string Category { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Items.Clear();
        await QueryNext();
    }

    List<Storage.QueryItem> Items = new();
    Storage.QueryResult LastResult;

    async Task QueryNext()
    {
        if ( LastResult != null )
        {
            // No more items to load
            if (!LastResult.HasMoreResults())
                return;

            LastResult = await LastResult.GetNextResults();
            if (LastResult.Items == null) return;

            Items.AddRange(LastResult.Items);
            StateHasChanged();
            return;
        }

		var query = new Storage.Query();
		query.KeyValues["package"] = "facepunch.sandbox";
		query.KeyValues["type"] = "dupe";
		query.SortOrder = SortOrder;

        if (Category != null) query.KeyValues["category"] = Category;

		LastResult = await query.Run();
		if ( LastResult.Items == null ) return;

		Items.AddRange( LastResult.Items );
		StateHasChanged();
	}
}
