LocalDupeIcon
{
    width: 100%;
    height: 100%;
    position: relative;
    justify-content: center;
    overflow: hidden;
    background-position: center;
    background-size: contain;
    cursor: pointer;

    .name
    {
        position: absolute;
        bottom: 10px;
        align-items: center;
        justify-content: center;
    }
}
