
WorkshopIcon
{
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: relative;
    font-family: Poppins;
    font-size: 1rem;
}

.title, .author
{
    background-color: #0005;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-weight: 600;
    max-width: 90%;
}

.title
{
    position: absolute;
    top: 0px;
    left: 0px;
}

.author
{
    position: absolute;
    bottom: 0px;
    right: 0px;
    align-items: center;
    gap: 0,.5rem;

    .avatar
    {
        width: 24px;
        height: 24px;
        background-position: center;
        background-size: contain;
        border-radius: 5px;
    }
}