@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Mounting;
@inherits Panel
@namespace Sandbox

<root>

	<div class="title">@Item.Title</div>

	<div class="author">

		<div class="avatar" style="background-image: url('@Item.Owner.Avatar');"></div>
		<div class="name">By @Item.Owner.Name</div>

	</div>

</root>

@code
{
	public Storage.QueryItem Item { get; set; }

	protected override void OnParametersSet()
	{
		Style.SetBackgroundImage( Item.Preview );
	}
	

}
