
SpawnMenuPage
{
	width: 100%;
	height: 100%;
}

SpawnMenuPage > .left
{
	width: 300px;
	flex-direction: column;
	padding: 8px;
	white-space: nowrap;
	overflow: hidden;

	> div
	{
		flex-grow: 1;
		flex-direction: column;

		h1
		{
			padding: 0.5rem;
			color: #08f;
			flex-shrink: 0;
		}

		.grow
		{
			flex-grow:1;
		}
	}
}

SpawnMenuPage > .body
{
	position: relative;
	flex-grow: 1;
	margin: 8px;
	margin-left: 0px;
}


