
Inventory
{
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    justify-content: center;
    font-size: 24px;
    color: #ffdc00;
    gap: 20px;
}

Inventory.hidden
{
    display: none;
    pointer-events: none;
}