@import "/UI/Theme.scss";

InventorySlot
{
    width: 96px;
    height: 96px;
    background-color: #0003;
    border-radius: $hud-radius;
    transition: all 0.1s ease;
    position: relative;

    &.droppable
    {
        pointer-events: all;
    }
}

InventorySlot .index
{
    position: absolute;
    top: 4px;
    left: 6px;
    font-size: 12px;
    font-weight: 650;
    opacity: 0.5;
    color: rgba( white, 0.5 );
    font-family: $subtitle-font;
    pointer-events: none;
}

InventorySlot .icon
{
    position: absolute;
    top: 16px;
    left: 4px;
    right: 4px;
    bottom: 18px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    mix-blend-mode: lighten;
    background-tint: rgba( $color-accent, 0.6 );
    pointer-events: none;
}

InventorySlot .name
{
    position: absolute;
    bottom: 4px;
    left: 4px;
    right: 4px;
    font-size: 12px;
    font-weight: 600;
    font-family: $subtitle-font;
    color: rgba( white, 0.6 );
    text-align: center;
    pointer-events: none;
    justify-content: center;
}

InventorySlot.empty
{
    opacity: 1;
}

InventorySlot:not( .empty )
{
    background-color: $hud-element-bg;
}

InventorySlot.drag-hover
{
    background-color: rgba( $color-accent, 0.15 );
    outline: 1px solid rgba( $color-accent, 0.5 );
    box-shadow: 0px 0px 16px rgba( $color-accent, 0.3 );

    .index
    {
        color: $color-accent;
    }
}

InventorySlot.active
{
    opacity: 1;
    background-color: $hud-element-bg;
    outline: 0.5px solid rgba( $color-accent, 0.3 );

    .index
    {
        color: $color-accent;
    }

    .icon
    {
        background-tint: $color-accent;
    }

    .name
    {
        color: rgba( white, 0.6 );
    }
}

InventorySlot.hovered
{
    background-color: $hud-element-bg;
    outline: 0.5px solid rgba( $color-accent, 0.2 );

    .icon
    {
        background-tint: rgba( $color-accent, 0.8 );
    }

    .name
    {
        color: rgba( white, 0.9 );
    }
}

InventorySlot.selected
{
    opacity: 1;
    background-color: rgba( $color-accent, 0.8 );
    box-shadow: 0px 0px 12px rgba( $color-accent, 0.2 );

    .index
    {
        color: $color-accent;
    }

    .icon
    {
        background-tint: $color-accent;
        top: 8px;
        left: 2px;
        right: 2px;
        bottom: 14px;
    }

    .name
    {
        color: white;
    }
}
