InventoryWeapon
{
    padding: 2px 4px;
    font-size: 14px;
    white-space: nowrap;
    color: transparent;
    flex-direction: column;
    height: 0px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
    font-family: poppins;
    font-weight: 300;
    border-radius: 8px;
    overflow: hidden;

    label
    {
        opacity: 1;
        mix-blend-mode: lighten;
        height: 0px;
    }
}

.active InventoryWeapon:not(.primary)
{
    background-color: rgba(0, 0, 0, 0.2);
    height: 40px;
    color: rgba(255, 220, 0, 0.6);
    width: 100%;

    label
    {
        height: 24px;
    }
}

.active InventoryWeapon.active:not(.primary)
{
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffdc00;
    text-shadow: 0px 0px 8px rgba(255, 200, 0, 0.6);
    height: 90px;
}

InventoryWeapon .icon
{
    font-family: Material Icons;
    font-size: 32px;
    opacity: 0;
    transform: scale( 1 );
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    background-tint: rgba(255, 220, 0, 0.3);
    mix-blend-mode: lighten;
}

.active InventoryWeapon:not(.active) .icon
{
    opacity: 0;
    height: 0;
}

.active InventoryWeapon.active .icon
{
    opacity: 1;
    height: 100%;
    background-tint: #ffdc00;
}

InventoryWeapon.selected
{
    display: none;
}